@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  border: none;
  /* transition: all 0.2s ease-in-out; */
}

html {
  overflow-x: auto;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.coolinput {
  display: flex;
  flex-direction: column;
  position: static;
  height: 4.4em;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #818CF8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #F7F8F9;
  width: fit-content;
}

.coolinput .input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 1px #ccc solid;
  border-radius: 5px;
  background: #F7F8F9;
}

.coolinput .input:focus {
  outline: none;
}

.coolinput input[type=number].input::-webkit-outer-spin-button,
.coolinput input[type=number].input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.profile-icon {
  bottom: 0;
  left: 3.7em;
}

